
body, html {
  position: relative; 
  /* margin-top: 50px; */
  height: 100%;
}

body{
  padding-top: 0px; 

}

.section{
  text-align: center;
  width: 100%; 
  height:100%;
}

#section1 {padding-top: 100px; color: #fff; background: linear-gradient(to bottom left, #3A6073, #3A78CA)}
#section2 {padding-top:50px; background: linear-gradient(to bottom right, #00b09b, #96c93d)}
.divider {padding-top:20px; width: 100%; height:30%;color: #fff;}
#section3 {padding-top: 100px; color: #fff; background: linear-gradient(to bottom left, #3A6073, #3A78CA)}

/* #section42 {padding-top:20px;height:500px;color: #fff; background-color: #009688;} */

/* navbar-dark {
  background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
} */

.work
{
  width: 100%;
}

.manuel{
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease-out;
}

.manuel.fade-in{
  opacity: 1;
  transform: translateY(0px);
} 